[submodule "reference/clawdbot"]
	path = reference/clawdbot
	url = https://github.com/clawdbot/clawdbot.git
[submodule ".agent/skills/planning-with-files"]
	path = .agent/skills/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
[submodule ".agent/skills/superpowers"]
	path = .agent/skills/superpowers
	url = https://github.com/obra/superpowers.git
[submodule ".agent/skills/ui-ux-pro-max-skill"]
	path = .agent/skills/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
